@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf); }
  @font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.ttf); }
  @font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.ttf); }
  @font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf); }
