@import "fonts.scss";

body {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: none;
    &:focus {
        outline: none;
    }
}

.container {
    margin: 0 auto;
    width: 100%;
}

.todo-wrap {
    display: flex;
    justify-content: space-between;
    padding: 35px 26px 0 51px;
}

.todo-item {
    display: flex;
    justify-content: left;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.left-side {
    width: 500px;
    h1 {
        font-family: Quicksand;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 60px;
    }
    h4 {
        margin-top: 9px;
        margin-bottom: 27px;
        font-family: PTSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }
    button {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 9px;
        line-height: 11px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        background-color: #bb6bd9;
        &:active{
            transform: scale(0.90);
        }
    }
}

.todo-item {
    padding-bottom: 15px;
    margin-bottom: 12px;
    position: relative;
    border-bottom: 1px solid #CACACA;
}

.todo-label {
    margin-left: 10px;
}

.buttons-wrap {
    opacity: 0;
    right: 0;
    top: -10px;
    position: absolute;
    button {
        width: 104.25px;
        height: 33px;
        border-radius: 22px;
        border: 1px solid transparent;
        &:hover{
            border: 1px solid rgb(88, 66, 84);
        }
    }
}

.todo-item{
    &:hover{
        .buttons-wrap{
            transition: opacity .8s;
            opacity: 1;
        }
    }
}

.change-button {
    left: 70px;
    top: -10px;
}

.remove-button {
    margin-left: 9.75px;
    left: 185px;
    top: -10px;
    background-color: #eb5757 !important;
}
