<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="todo-list">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- Container -->
    <div class="container">
        <!-- todo wrap -->
        <div class="todo-wrap">

            <!-- Main content -->
            <div class="left-side">
                <h1>Список дел</h1>
                <h4>Добавляете и редактируйте списки дел</h4>
                <div class="todo-list">
                    <div class="todo-item" v-for="(item, index) in todoList">
                        <span class="todo-count">{{index + 1}}.</span>
                        <div class="todo-label">{{item.todo}}</div>
                        <div class="buttons-wrap">
                            <button class="change-button" @click='changeBtn(index + 1)'>Изменить</button>
                            <button class="remove-button" @click='removeTodo(item.count)'>Удалить</button>
                        </div>
                    </div>
                </div>
                <button class="add-button"
                    v-on:click='addBtnWasClicked = !addBtnWasClicked, inputVisible = !inputVisible'>Добавить
                    дело</button>
            </div>

            <!-- Input block -->
            <div class="right-side" v-if='inputVisible'>
                <div class="input-block">
                    <h2>Что нужно сделать?</h2>
                    <input type="text" placeholder="Побегать вечером" v-model="inputValue">
                    <button class="save-button" @click='addChangeTodo()'>СОХРАНИТЬ</button>
                </div>
            </div>

        </div>

    </div>

    <script src="js/vue.min.js"></script>
    <script>

        new Vue({
            el: ".todo-wrap",
            data: {
                todoList: [{
                    todo: 'Сделать адаптивный дизайн'
                }],
                inputValue: '',
                inputVisible: false,
                changeBtnWasClicked: false,
                addBtnWasClicked: false,
                todoNum: 0
            },


            methods: {
                addChangeTodo() {
                    if (this.addBtnWasClicked == true) {
                        let todoCount = this.todoList.length + 1;
                        if (this.inputValue.trim()) {
                            this.todoList.push({
                                todo: this.inputValue,
                            });
                            this.inputValue = '';
                        }
                        this.inputVisible = false
                        this.addBtnWasClicked = false
                    }
                    if (this.changeBtnWasClicked) {
                        this.todoList[this.todoNum].todo = this.inputValue;
                        this.inputVisible = false;
                        this.inputValue = ''
                        this.changeBtnWasClicked = false
                    }
                },
                changeBtn(e) {
                    let todoCount = e - 1
                    this.changeBtnWasClicked = true;
                    this.inputVisible = true;
                    this.inputValue = this.todoList[todoCount].todo;
                    this.todoNum = todoCount;
                },

                removeTodo(e) {
                    let todoCount = e - 1;
                    delete this.todoList(todoCount);
                }
            }
        })


    </script>

</body>

</html>